[Unit]
Description=GPS Sensor
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/FirmwareRPi/main.py
[Install]
WantedBy=multi-user.target

# /etc/systemd/system/siSensor.service